<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.portal.mapper.KanBanMapper">
	
	<select id="findCompanyCount" resultType="int">
		select count(1) from rlzy_company
		<if test="createDate != null and createDate != ''">
			WHERE to_days(create_date) = to_days(now()) 		
		</if>
	</select>
	
	<select id="findUserCount" resultType="int">
		select count(1) from rlzy_user
		<if test="createDate != null and createDate != ''">
			WHERE to_days(create_date) = to_days(now()) 		
		</if>
	</select>
	
	<select id="findPositionCount" resultType="int">
		select count(1) from rlzy_position
	</select>
	
	<select id="findCollectCount" resultType="int">
		select count(1) from rlzy_relation where companydealstate='1'
	</select>
	
	<select id="findDesiredPosition" resultType="rlzyUser">
		SELECT desiredposition,COUNT(*) as count FROM rlzy_user GROUP BY desiredposition ORDER BY count(desiredposition) asc
	</select>
	
	<select id="findIndustry" resultType="rlzyCompany">
		SELECT industry,COUNT(*) as count FROM rlzy_company GROUP BY industry ORDER BY count(industry) asc
	</select>
	
	<select id="findPositionList" resultType="rlzyposition">
		SELECT
				salaryrange,
				count(*) as count
			FROM
				rlzy_position
			GROUP BY
				salaryrange
			ORDER BY
			count(salaryrange)
			ASC
	</select>
	
	<select id="findPositionCollect" resultType="int">
		select count(1) from rlzy_relation where collectionstate='1'
	</select>
	
	<select id="findDeliveryCollect" resultType="int">
		select count(1) from rlzy_relation where deliverystate='1'
	</select>
	
	<select id="findCompanyDeal" resultType="int">
		select count(1) from rlzy_relation where companydealstate='1'
	</select>
	
	<select id="findMale" resultType="int">
		select count(1) from rlzy_user where sex='1'
	</select>
	
	<select id="findFemale" resultType="int">
		select count(1) from rlzy_user where sex='2'
	</select>
	
	 <select id="userCountCurve" resultType="rlzyUser">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(*) as count
		  from rlzy_user
		  group by date(create_date)
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
	 <select id="deliveryCurve" resultType="rlzyRelation">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(deliverystate) as count
		  from rlzy_relation
		  where
		  deliverystate='1'
		  group by date(create_date)
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
	<select id="companyDealCurve" resultType="rlzyRelation">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(companydealstate) as count
		  from rlzy_relation
		WHERE
			companydealstate='1'
		  group by date(create_date)
      
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
	
	<select id="companyCurve" resultType="rlzyCompany">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(*) as count
		  from rlzy_company
		  group by date(create_date)
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
	<select id="positionCurve" resultType="rlzyPosition">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(*) as count
		  from rlzy_position
		  group by date(create_date)
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
		<select id="collectCurve" resultType="rlzyRelation">
			select a.date,ifnull(b.count,0) as count
		from (
		    SELECT curdate() as date
		    union all
		    SELECT date_sub(curdate(), interval 1 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 2 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 3 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 4 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 5 day) as date
		    union all
		    SELECT date_sub(curdate(), interval 6 day) as date
		  union all
		    SELECT date_sub(curdate(), interval 7 day) as date
		) a left join (
		  select date(create_date) as datetime, count(*) as count
		  from rlzy_relation
		  where 
		  companycollectstate='1'
		  group by date(create_date)
		) b on a.date = b.datetime
		ORDER BY a.date;
	</select>
	
	<select id="findCompanyScale" resultType="rlzyCompany">
	SELECT
		 COUNT(1) as count,
		  a.label as companyscale
		FROM
		 rlzy_company c
		 LEFT JOIN sys_dict_value a ON a.value =c.companyscale
		 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
		WHERE
		 b.type='company_scale'
		GROUP BY
		companyscale;
	
	</select>
	
	<select id="findSalaryRanges" resultType="rlzyKanban">
	SELECT
	 COUNT(1) as  value,
	  a.label as  name
	FROM
	 rlzy_position c
	 LEFT JOIN sys_dict_value a ON a.value =c.salaryrange
	 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
	WHERE
	 b.type='salary'
	GROUP BY
	salaryrange;
	
	</select>
	
	<select id="findIndustrys" resultType="rlzyKanban">
		SELECT
		 COUNT(1) as value,
		  a.label as name
		FROM
		 rlzy_company c
		 LEFT JOIN sys_dict_value a ON a.value =c.industry
		 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
		WHERE
		 b.type='desired_industry'
		GROUP BY
		industry;
	</select>
	
	<select id="findSalarys" resultType="rlzyKanban">
	 SELECT
		 COUNT(1) as value,
		  a.label as name
		FROM
		 rlzy_user c
		 LEFT JOIN sys_dict_value a ON a.value =c.salary
		 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
		WHERE
		 b.type='salary'
		GROUP BY
		salary;
	</select>
	
	<select id="findEducations" resultType="rlzyKanban">
	 SELECT
		 COUNT(1) as value,
		  a.label as name
		FROM
		 rlzy_user c
		 LEFT JOIN sys_dict_value a ON a.value =c.education
		 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
		WHERE
		 b.type='education'
		GROUP BY
		education;
	</select>
	
	<select id="findWorkingAge" resultType="rlzyKanban">
	 SELECT
		 COUNT(1) as value,
		  a.label as name
		FROM
		 rlzy_user c
		 LEFT JOIN sys_dict_value a ON a.value =c.workingage
		 LEFT JOIN sys_dict_type b ON b.id = a.dict_type_id
		WHERE
		 b.type='working_age'
		GROUP BY
		workingage;
	</select>
	
	<select id="findAge" resultType="rlzyKanban">
	SELECT 
		count(*) as value,
		CASE 
		WHEN age<![CDATA[>=]]>18 AND age<![CDATA[<]]>25 THEN '18-25岁' 
		WHEN age<![CDATA[>=]]>25 and age<![CDATA[<]]>35 then '25-35岁'
		when age<![CDATA[>=]]>35 and age<![CDATA[<]]>45 then '35-45岁'
		when age<![CDATA[>=]]>45 and age<![CDATA[<]]>55 then '45-55岁'  
		ELSE '55岁以上' END as name
		FROM
		rlzy_user
		GROUP BY (CASE 
		WHEN age<![CDATA[>=]]>18 AND age<![CDATA[<]]>25 THEN '18-25岁' 
		WHEN age<![CDATA[>=]]>25 and age<![CDATA[<]]>35 then '25-35岁'
		when age<![CDATA[>=]]>35 and age<![CDATA[<]]>45 then '35-45岁'
		when age<![CDATA[>=]]>45 and age<![CDATA[<]]>55 then '45-55岁'  
		ELSE '55岁以上' END)
	</select>
</mapper>