html,body {
	background: #f5f6f6;
}
.logo{
	width: 95px;
    margin-right: 6px;
    margin-bottom: 5px;
    height: 80px;
    margin-left: -18px;
}
/******************************************  */
.titleTop {
    padding: 17px 0;
    background: #fff;
    /* background: url(../img/le-run.png) no-repeat center; */
    background-size: 100% 100%;
}
/******************************************  */
.rowTop {
	width: 1200px;
	margin: 0 auto;
	color: #666;
	white-space: nowrap;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.bar{
	border-bottom: 1px solid #ECE8E9;
	box-shadow: 0px 5px 30px #e0e0e0;
	background: #fff;
}
.rowBar {
	width: 1200px;
	margin: 0;
	color: #666;
	margin: 0 auto;
}
.title {
	color: #3a71d6;
}
/* ************************************** */
.title h3 {
	font-weight: bolder;
	font-size: 24px;
}
.title h6 {
	font-size: 12px;
}
.searchBar {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	padding: 0 12px;
}
/* .input-group {
	border: none;
	padding: 0;
	margin: 0;
} */
.input-key-v{
	position: relative;
}
.input-key{
	border-radius: 19px;
    font-size: 13px;
    padding: 0 10px 0 15px;
    width: 220px;
    background: #f1f1f1;
}
.search-se{
	position: absolute;
	right: 8px;
	top: 7px;
	font-size: 23px;
	color: #1787fb;
	cursor: pointer;
}
.searchBar-left{
	margin-right: 18px;
}
/************************************************/
.land{
    display: inline-block;
    overflow: hidden;
    min-width: 50px;
    height: 36px;
    /* background: #2a8bf8; */
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    color: #585858;
    margin-right: 15px;
    cursor: pointer;
    font-size: 17px;
}

.land:nth-of-type(2){
	width: 60px;
    height: 36px;
 margin-right:0px;
    color: #2a8bf8;
     border-radius: 6px;
    text-align: center;
}
/******************************************  */
.land:nth-of-type(2):hover{
 margin-right:0px;
    background: white;
    color: #2a8bf8;
}
.land:hover{
	color:#333;
}
.nav.nav-tabs {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0;
	padding: 22px 0;
	margin-left: 56px;
}
.nav.nav-tabs a {
	display: inline-block;
	color: #333;
	font-size: 18px;
	white-space: inherit;
	font-weight: 400;
	width: 85px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.presentation a:hover {
	cursor: pointer;
	color: #1787fb;
}
.activeed:after,.active:after{
	content: "";
	position: relative;
	display: block;
	margin: 0 auto;
	width: 0;
    height: 3px;
    top: 10px;
    left: -6px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background: #1787fb;
}
.activeed:after{
	width:85px;
}
.nav.nav-tabs .activeed{
	color: #1787fb;
}
.nav.nav-tabs .presentation:hover .active:after{
	width:85px;will-change:width;
}

.tail{
	margin-top: 2rem;
}
.webLinkWork {
	width: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #666666;
	padding: 40px 0;
}
.webLinkWork span{
	padding: 0 10px;
}
.webLinkWork a {
	cursor: pointer;
	text-align: none;
	font-size: 14px;
	color: #666666;
}
.webLinkWork a:hover{
	color: #4b96cf;
}
.banquan {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	color: #313131;
	background: #eaeaea;
	font-size: 12px;
}

.cont{
	width: 1200px;
	margin: 0 auto;
}
.left{
	width: 20%;
	/* height: 40rem; */
	background: #fff;
}
.right{
    width: 76%;
    /* min-height: 40rem; */
    background: #fff;
    margin-left: 3.5%;	
}
.yuqbottom {
    width: 1200px;
    padding: 2rem 0;
     min-height: 66%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin: 2rem auto 1rem;
}
::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track
{
	border-radius: 0px;
	background: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.75)
}

::-webkit-scrollbar-thumb:hover
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: rgba(85, 85, 85, 0.1);
}
#tianqi{
 margin-left:52px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.leftonw {
    width: 1200px;
    margin: 0 auto;
    height: 54px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navleft {
    height: 100%;
    display: flex;
    align-items: center;
}
.zp-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
    width:70px;
    padding: 10px 0 5px;
    position: fixed;
    right: 0;
    bottom: 200px;
    background-color: #fff;
    border: 1px solid #f4f6f9;
    z-index: 1;
}
/*二维码的样式*/
#ercode{
	width: 60px;
	height: 60px;
	position: fixed;
	left: 79.5%;
/*	border: 2px dotted #1787fb;*/
	display: none;
}
.zp-sidebar__li {
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.zp-sidebar__link {
    display: block;
    margin: 0 4px;
    width: 60px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    border-radius: 20px;
    color: #bababa;
    
}
.zp-sidebar__link i.layui-icon {
    color: #3a71d6;
    font-weight: bolder;
    font-size: 25px;
    
}

.zp-sidebar__link:hover span.zp-sidebar__span{
	z-index: 999;
	display:flex!important;
}
.zp-sidebar__link:hover i.layui-icon.layhover{
	visibility:hidden!important;
}
.zp-sidebar__span {
    display: none;
    font-size: 15px;
    font-weight: 700;
    background:#1787fb;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: -60px;
    color: #fff;
}
i.layui-icon.zp-sidebar__span {
    display: none;
    font-size: 25px;
    font-weight: 700;
    background:#1787fb;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: -60px;
    color: #fff;
}

ol.zp-sidebar li {
    list-style: none;
}
